<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="w-[97%] mx-auto grid max-w-[460px]">
  <p class="text-center text-[12px] text-white mb-[32px]">Comlete the form to change password.</p>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Old password</mat-label>
    <input name="oldPassword" formControlName="oldPassword" type="password" matInput>
    <mat-error *appFirstKeyOf="formGroup.controls.oldPassword.errors; let error">{{ error }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>First Name</mat-label>
    <input name="newPassword" formControlName="newPassword" type="password" matInput>
    <mat-error *appFirstKeyOf="formGroup.controls.newPassword.errors; let error">{{ error }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>First Name</mat-label>
    <input name="confirmPassword" formControlName="confirmPassword" type="password" matInput>
    <mat-error *appFirstKeyOf="formGroup.controls.confirmPassword.errors; let error">{{ error }}</mat-error>
  </mat-form-field>
  <div class="grid grid-cols-2 gap-[4px] text-[12px]">
    <button mat-raised-button color="primary" [disabled]="submitDisabled$ | push">Change password</button>
    <a [routerLink]="prevUrl$ | push"  [queryParams]="prevQuery$ | push" [fragment]="prevFragment$ | push" mat-raised-button color="warn">Cancel</a>
  </div>
</form>
