<img *ngIf="rating === 0"
      src="assets/images/rating_star_empty.png"
      alt="rating_star">
<img *ngIf="rating > 0 && rating <= 0.5"
      src="assets/images/rating_star_half.png"
      alt="rating_star">
<img *ngIf="rating > 0.5"
      src="assets/images/rating_star_full.png"
      alt="rating_star">
<img *ngIf="rating <= 1"
      src="assets/images/rating_star_empty.png"
      alt="rating_star">
<img *ngIf="rating > 1 && rating <= 1.5"
      src="assets/images/rating_star_half.png"
      alt="rating_star">
<img *ngIf="rating > 1.5"
      src="assets/images/rating_star_full.png"
      alt="rating_star">
<img *ngIf="rating <= 2"
      src="assets/images/rating_star_empty.png"
      alt="rating_star">
<img *ngIf="rating > 2 && rating <= 2.5"
      src="assets/images/rating_star_half.png"
      alt="rating_star">
<img *ngIf="rating > 2.5"
      src="assets/images/rating_star_full.png"
      alt="rating_star">
<img *ngIf="rating <= 3"
      src="assets/images/rating_star_empty.png"
      alt="rating_star">
<img *ngIf="rating > 3 && rating <= 3.5"
      src="assets/images/rating_star_half.png"
      alt="rating_star">
<img *ngIf="rating > 3.5"
      src="assets/images/rating_star_full.png"
      alt="rating_star">
<img *ngIf="rating <= 4"
      src="assets/images/rating_star_empty.png"
      alt="rating_star">
<img *ngIf="rating > 4 && rating <= 4.5"
      src="assets/images/rating_star_half.png"
      alt="rating_star">
<img *ngIf="rating > 4.5"
      src="assets/images/rating_star_full.png"
      alt="rating_star">
