<div class="flex flex-col rounded-[12px] pb-[24px] mat-elevation-z2 w-full h-full justify-center items-center">
  <h1 class="underline text-[24px] my-[16px] color-accent">
    Information
  </h1>
  <a routerLink="/wholesale">Wholesale</a>
  <a routerLink="/peymant-methods">Peyment methods</a>
  <a routerLink="/delivery-cost">Delivery costs</a>
  <a routerLink="/regulations">Regulations</a>
</div>
<div class="flex flex-col rounded-[12px] pb-[24px] mat-elevation-z2 w-full h-full justify-center items-center">
  <h1 class="underline text-[24px] my-[16px] color-accent">
    Your account
  </h1>
  <a href="#">Your account</a>
  <a href="#">History of orders</a>
  <a href="#">Newsletter</a>
</div>
<div class="flex flex-col rounded-[12px] pb-[24px] mat-elevation-z2 w-full h-full justify-center items-center">
  <h1 class="underline text-[24px] my-[16px] color-accent">
    Others
  </h1>
  <a href="#">Producers</a>
  <a href="#">Sale</a>
  <a href="#">Feedback</a>
</div>
<div class="flex flex-col rounded-[12px] pb-[24px] mat-elevation-z2 w-full h-full justify-center items-center">
  <h1 class="underline text-[24px] my-[16px] color-accent">
    Shop
  </h1>
  <a href="#">Contact</a>
  <a href="#">About Us</a>
  <a href="#">Site map</a>
</div>
