@use 'src/material/material.scss' as mat;

:host {
  align-self: start;
  background: url('/assets/new-images/background6.png') left 0 top 50%/cover no-repeat border-box ,linear-gradient(to bottom, lighten(mat.$primary-color, 15), darken(mat.$primary-color, 5));
  border-radius: 0 6px 6px 0;

  @media (min-width: 1200px) {
    border-radius: 6px;
  }
}

a {
  display: flex;
  align-items: center;
  color: white;
  padding: 8px 16px;
  font-size: 12px;

  @media (min-width: 1024px) {
    font-size: 16px;
    padding: 12px 16px;
  }
}

img {
  width: 20px;
  height: auto;
  margin-right: 8px;
}

// @media (min-width: 1024px) {
//   li {
//     border-bottom: 1px solid mat.$accent-color;
//   }

//   li:last-of-type {
//     border-bottom: none;
//   }
// }
